{% extends "auctions/layout.html" %}

{% block body %}
    <div class="content">
        {% if categories %}
        <h2 id="main-title">All categories available:</h2>
        <div class="category-items">
            {% for category in categories %}
                {% if category.name %}
                    <a href="{% url 'category' category.id %}">
                        {{category.name}}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <h2>No categories available</h2>
        {% endif %}
    </div>
{% endblock %}